<table class="userlist">
  <thead>
    <tr>
      <th>Username</th>
      <th>Roles</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <%= render :partial => "admins/admin", :collection => admins %>
</table>

<%= link_to "New Admin", new_admin_path, :class => "button" %>
