<div id="accordion">
  <h3><a href="#">Run Report</a></h3>
  <%= render :partial => 'reports/monthly/find' %>
  <h3><a href="#">Lock Month</a></h3>
  <%= render :partial => 'locked_months/new' %>
  <h3><a href="#">Unlock Month</a></h3>
  <%= render :partial => 'locked_months/index' %>
</div>
