body {
  font-size: 1em;
}

#admintabs {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#members {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#members a {
  color: #318ce7;
  text-decoration: none;
}
