body {
  font-size: 1em;
}

#admintabs {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#members {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid gray;
}

#members thead {
  background: #cb842e;
}

#members th, td {
  border: 1px solid gray;
}

#members tr.even {
  background: #f5f5dc;
}

#members a {
  color: #318ce7;
  text-decoration: none;
}
