body {
  font-size: 1em;
}

#admintabs {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#reportpending {
  display: none;
}

.userlist {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid gray;
}

.userlist thead {
  background: #cb842e;
}

.userlist th, td {
  border: 1px solid gray;
}

.userlist tr.even {
  background: #f5f5dc;
}

.userlist a {
  color: #318ce7;
  text-decoration: none;
}
