<h2>Sleep-Ins</h2>
<ul>
  <%= render :partial => "reports/annual/sleep_in",
   :collection => member.sleep_ins.by_year(@report.year) %>
</ul>
<p><%= h member.sleep_in_points(:year => @report.year) %> points</p>
