%div
  - if locked_months.empty?
    %p All months in the current year are unlocked.
  - else
    - form_tag locked_months_url, :method => :delete, :id => 'unlock_month_form' do
      %p
        = select_tag :locked_month_id, options_for_locked_months(locked_months)
        = submit_tag 'Unlock'
