<div>
<% if unlocked_months.empty? %>
  <p>All months in the current year are locked.</p>
<% else %>
<% form_for locked_month do |f| %>
  <p>
    <%= f.select :month, options_for_months(unlocked_months) %>
    <%= f.submit 'Lock' %>
  </p>
<% end %>
<% end %>
</div>
