<div>
<%= render :partial => 'members/flash_notice' %>
<%= render :partial => 'members/flash_warning' %>
<% form_for @locked_month do |f| %>
  <p>
    <%= f.select :month, options_for_months(@unlocked_months) %>
    <%= f.submit 'Lock' %>
  </p>
<% end %>
</div>
