%div
  = form_tag('#', :remote => true, :id => :monthly_report_form, 'data-url' => reports_path) do |f|
    %p
      = select_tag :month, options_for_months(all_months)
      = submit_tag 'Run Report'
      = image_tag 'spinner.gif', :id => 'reportpending'
