%div
  = form_tag(report_url, :remote => true, :id => :reportform) do |f|
    %p
      = select_tag :date, options_for_months(all_months)
      = submit_tag 'Run Report'
      = image_tag 'spinner.gif', :id => 'reportpending'
