<% content_for :head do %>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<h2>LOSAP Adminstration Menu</h2>

<div id="admintabs">
  <ul id="adminmenu">
    <li><a href="#tab-1">Manage Users</a></li>
    <li><a href="#tab-2">Monthly Reports</a></li>
    <li><a href="#tab-3">Annual Reports</a></li>
  </ul>
  <div id="tab-1">
    <p>Manage Users</p>
  </div>
  <div id="tab-2">
    <p>Monthly Reports</p>
  </div>
  <div id="tab-3">
    <p>Annual Reports</p>
  </div>
</div>

<p>&nbsp;</p>
