<div>
  <form action="#" id="reportform">
    <p>
      <%= select_year Date.today,
      {:start_year => oldest_date.year,
        :end_year => Date.today.year},
        :id => 'year',
        :name => 'year' %>
      <%= select_month Date.today, {}, :id => 'month', :name => 'month' %>
      <%= submit_tag 'Run Report' %>
    </p>
    </form>
</div>