!!! Strict
%html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en')
  %head
    %meta(http-equiv='content-type' content='text/html;charset=UTF-8')
    %title OVFC LOSAP - #{@year} Annual Report
    :css
      @media all {
        body {
          font-family: Arial, sans-serif;
          font-size: 6pt
        }

        #header {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }

        #data {
          width: 100%;
        }

        #data td {
          vertical-align: top;
        }

        #data ul {
          list-style-type: none;
          padding-left: 0px;
        }
      }
      @media screen {
        .page-break {
          display: none;
        }
      }
      @media print {
        .page-break {
          display: block;
          page-break-before: always;
          height: 0;
        }
      }
  %body
    = yield
