#annual_totals
  %p
    Year-to-date:
    =h member.sleep_in_points(:year => month)
    Sleep-In Points,
    =h member.standby_points(:year => month)
    Standby Points
    =h member.hours(:year => month)
    Hours
