<% content_for :head do -%>
  <%= stylesheet_link_tag 'pagination' %>
<% end -%>

<table id="members">
  <%= render :partial => "members/member", :collection => @members %>
</table>

<%= will_paginate @members, :class => "apple_pagination" %>

<br />
