<tr>
  <td>
    <%= "#{member.lastname}, #{member.firstname} (##{member.badgeno})" %>
  </td>
  <td>
    <%= link_to "Edit", edit_member_path(member) %>
    <%= link_to "Delete", member_path(member), :class => "delete" %>
  </td>
</tr>
