<tr>
  <td>
    <%= "#{member.lastname}, #{member.firstname} (##{member.badgeno})" %>
  </td>
  <td>
    <%= link_to 'Edit', edit_member_url(member) %>
    <%= link_to 'Delete', member_url(member), :class => 'delete' %>
  </td>
</tr>