#monthly_totals
  %p
    -# THIS IS A HACK. FIGURE OUT WHY I NEED TO DO THIS AND FIX IT.
    - member.reload
    Month-to-date:
    =h member.sleep_in_points(:month => month)
    Sleep-In Points, 
    =h member.standby_points(:month => month)
    Standby Points, 
    =h member.hours(:month => month)
    Hours
