#header
  = image_tag 'patch.png', :id => 'patch'
  = image_tag 'taz.png', :id=> 'taz'
  %h1 OVFC LOSAP

%form(action='#{members_url}')
  %h4 Enter your name or badge number:
  %p= text_field_tag 'member_name', '', :size => 25

%p For assistance, please see Lt. Zoeller or Sec. Organek
